body {
  background-color: #990f4b;
  font-weight: bold;
  color: #eecada;
  margin-top: 30px;
}

h1 {
  text-align: center;
  font-size: 60px;
}

#container {
  display: flex;
  justify-content: center;
  font-size: 48px;
}

.hidden {
  display: none;
}
