body {
  background-color: #990f4b;
  font-weight: bold;
  color: #eecada;
  margin-top: 30px;
}

h1 {
  text-align: center;
  font-size: 60px;
}

#container {
  font-size: 48px;
  text-align: center;
  margin: 0 auto;
  width: 420px;
  height: 420px;
  position: relative;
}

.hidden {
  display: none;
}

/* first screen */

#choice {
  font-size: 60px;
  color: #f3e8ee;
}

a {
  text-decoration: none;
}

#x,
#o {
  color: #ff5e5b;
  font-weight: bold;
}

/*board*/
#board {
  position: absolute;
  width: 420px;
  height: 420px;
  border-collapse: collapse;
  border: 11px solid #eecada;
}

td {
  border: 10px solid #eecada;
  width: 120px;
  height: 120px;
  cursor: pointer;
  font-size: 70px;
  color: #f3e8ee;
  font-weight: bold;
  text-align: center;
}
/*final screen*/
#winner {
  font-size: 55px;
  color: #f3e8ee;
  margin-top: -15px;
}

#new-game {
  font-size: 55px;
  color: #ff5e5b;
}
